<section class="error">
  <div class="error-imgWrapper">
    <img  class="error-img"
      ngSrc="https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&raw=1"
      alt="error img"
      fill />
  </div>
  <h1 class="error-title">NOT FOUND</h1>
  <p class="error-data">
    The route you want to access does not exist:
    <span class="error-url">
      {{ url }} https://chat.openai.com/c/06f2e178-c03f-4bd2-876e-ead039242464
    </span>
  </p>
  <button
  routerLink=""
  class="error-btnBack"
  type="button"
  title="to home"
  aria-label="to home">
    Back to Home
  </button>
</section>
