.cardShop {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (width >= 28rem) {
  justify-content: space-between;
  }
  @media screen and (width >= 35rem) {
    flex-wrap: nowrap;
  }

  &-figure {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;
    @media screen and (width >= 28rem) {
      max-width: 17rem;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

  }

  &-link {
    position: relative;
    width: 5rem;
    height: 5rem;

    img {
      border-radius: var(--radius-xs);
      border: solid .15rem transparent;
      transition: border .1s linear;
      aspect-ratio: 1/1;
      object-fit: cover;
      &:hover {
        border-color: #fff;
      }
    }
  }

  &-data {
    display: grid;
    gap: .5rem;
    justify-content: space-between;
    @media screen and (width >= 40rem) {
      max-width: 10rem;
    }
  }

  &-dataWrapper {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    @media screen and (width >= 23rem) {
    justify-content: space-between;
    text-align: initial;
    }
  }
  &-price {
    &::first-letter {
      font-weight: 600;
      color: var(--clr-complementary, #ebc51d);
      margin-right: .2rem;
    }
  }

  &-text--bold {
    display: inline-block;
    font-weight: 600;
    width: clamp(10rem, 20rem, 20vw);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}
