<div class="cardShop">
  <figure class="cardShop-figure">
    <a class="cardShop-link"
      href="">
      <img ngSrc="https://i.dummyjson.com/data/products/2/thumbnail.jpg"
        width="64"
        height="64"
        alt="Product"
        class="rounded-md object-cover"
        style="aspect-ratio: 64 / 64; object-fit: cover"
      />
    </a>
    
    <div class="cardShop-data">
      <figcaption class="text-lg font-medium">
        <span class="cardShop-text--bold">
          Product Name
        </span>
        <span class="cardShop-price">
          $99.99
        </span>
      </figcaption>
      <app-quantity-counter />
    </div>
  </figure>

  <app-monochrome-btn dataBtn="remove"/>
</div>

