.cardShop {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (width >= 40rem) {
    flex-wrap: nowrap;
  }

  &-figure {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  &-link {
    position: relative;
    img {
      border-radius: var(--radius-xs);
      border: solid .15rem transparent;
      transition: border .1s linear;
    }

    &:hover img {
      border-color: #fff;
    }
  }

  &-data {
    display: grid;
    gap: .5rem;
    justify-content: space-between;
    max-width: 10rem;
  }

  &-dataWrapper {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
  }
  &-price {
    &::first-letter {
      font-weight: 600;
      color: var(--clr-complementary, #ebc51d);
      margin-right: .2rem;
    }
  }

  &-text--bold {
    display: inline-block;
    font-weight: 600;
    width: clamp(10rem, 20rem, 20vw);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}
