<div class="cardShop">
  <figure class="cardShop-figure">
    <a class="cardShop-link"
      [routerLink]="'/productView/' + product.id"
      [attr.aria-label]="'Go to see more details about ' + product.title">
      <img [ngSrc]="product.thumbnail"
        width="80"
        height="80"
        alt="Product"
        class="rounded-md object-cover"
        style="aspect-ratio: 64 / 64; object-fit: cover"
      />
    </a>

    <div class="cardShop-data">
      <figcaption class="cardShop-dataWrapper">
        <span class="cardShop-text--bold"
          [attr.title]="product.title">
          {{product.title}}
        </span>
        <span class="cardShop-price">
          {{product.price | currency}}
        </span>
      </figcaption>
      <app-quantity-counter />
    </div>
  </figure>

  <app-monochrome-btn dataBtn="remove"/>
</div>

