<div class="cardShop">
  <figure class="cardShop-figure">
    <a class="cardShop-link"
      [routerLink]="'/productView/' + product.id"
      [attr.aria-label]="'Go to see more details about ' + product.title">
      <img class="cardShop-img"
        [ngSrc]="product.thumbnail"
        class="rounded-md object-cover"
        alt="Product"
        fill
      />
    </a>

    <div class="cardShop-data">
      <figcaption class="cardShop-dataWrapper">
        <span class="cardShop-text--bold"
          [attr.title]="product.title">
          {{product.title}}
        </span>
        <span class="cardShop-price">
          {{product.price | currency}}
        </span>
      </figcaption>
      <app-quantity-counter [totalProduct]="product.quantity"/>
    </div>
  </figure>

  <app-monochrome-btn dataBtn="remove"/>
</div>

