.product {
  width: min(100%, 15rem);
  margin-inline: auto;
  &-figure {
    position: relative;
    height: 20rem;
  }

  &-imgWrapper {

  }

  &-img {
    object-fit: cover;
  }

  &-title {

  }
}

