.productCard {
  position: relative;
  &-link {
    position: relative;
    width: inherit;
    height: 20.5rem;
  }

  &-img {
    aspect-ratio: 1/1;
  }

  &-name {
    display: none;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: var(--font-md);
  }

  &-btn {
    color: black;
    position: absolute;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    bottom: 1rem;
    left: 1rem;
    padding-top: .2rem;
    border-radius: var(--radius, 50%);
    position: absolute;
    background-color: aliceblue;
    box-shadow: rgba(255, 231, 20, 0.3) 0px 0px 0px 2px;
    transition: box-shadow linear .2s;
    z-index: var(--z-index-BasicFloatEle, 10);
    cursor: pointer;

    &:hover {
      box-shadow: rgba(255, 231, 20, 0.7) 0px 0px 0px 5px;
    }
  }
}

.myFavoriteProduct {
  color : red
}
