.productCard {
  &-link {
    position: relative;
    width: inherit;
    height: 20.5rem;
  }

  &-img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  &-name {
    display: none;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: var(--font-md);
  }

  &-btn {
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    bottom: .8rem;
    left: .8rem;
    padding-top: .2rem;
    border-radius: var(--radius, 50%);
    position: absolute;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: var(--z-index-BasicFloatEle, 10);
    cursor: pointer;
  }
}
