.searchBox {
  background-color: #FCFCFD;
  width: min(20rem, 100%);
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: var(--radius-xs, .5rem);
  height: 2.5rem;

  &-input {
    color: black;
    display: block;
    padding: .3rem .5rem;
    width: 100%;
    appearance: none;
    &::placeholder {
      color: rgb(179, 179, 179);
    }
  }

  &-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
  }

  &-btn {
    height: 100%;
    border-radius: var(--radius-xs, .5rem);
    width: 3rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    place-content: center;
    padding: .2rem;
    border-left: solid .1rem currentColor;
    background-color: #000;
    border: solid .1rem #fff;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover{
      background-color: rgb(102, 102, 102);
    }

    &:first-child {
      border-right: none;
    }

    & svg {
      display: block;
      margin-inline: auto;
    }
  }
}
