.expandBtm {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.9rem;
  color: var(--primary-color, #272727);
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: var(--side-radius-min, 0.625rem);
  cursor: pointer;
  &:hover {
    background-color: var(--item-hover, #F0F0F0);
  }
}
