<swiper-container [attr.slides-per-view]="imgXSlide"
  autoplay
  speed="500"
  loop="true"
  navigation="true"
  grab-cursor="true"
  effect="coverflow"
  slides-per-view="2"
  
  flip-effect-slide-shadow="true"
  coverflow-effect-rotate="0"
  coverflow-effect-stretch="0"
  coverflow-effect-depth="300"
  coverflow-effect-modifier="2"
  coverflow-effect-slide-shadows="false">

  <ng-container *ngFor="let img of listImages">
    <swiper-slide>
      <img class="slide-img" [ngSrc]="img" alt="" loading="lazy" fill>
    </swiper-slide>
  </ng-container>

</swiper-container>

<!--
<swiper-container class="mySwiper" autoplay effect="cards" grab-cursor="true" loop="true">
  <swiper-slide *ngFor="let image of listImages">
    <img [ngSrc]="image" alt="s" fill>
  </swiper-slide>
</swiper-container> -->
