@use '../../../../../../assets/sass/mixins.scss' as *;

.details {
  @include flex(column,center, center, 1rem);
  position: relative;
  border: .1rem solid var(--sidebar-gray-background, #dce1eb);
  padding: .5rem;
  min-height: 6.25rem;
  margin-block: 4rem;
  text-align: center;
  border-radius: var(--side-radius, 1rem);
  color: var(--side-text-clr, #272727);

  &-img {
    object-fit: cover;
    user-select: none;
    pointer-events: none;
  }

  &-title {
    font-size: .8rem;
  }

  &-btn {
    position: absolute;
    bottom: 0;
    transform: translateY(-10%);
    font-size: .8rem;
    min-height: 2.625rem;
    padding: .5rem .75rem;
    margin-bottom: -1.75rem;
    border-radius: var(--side-radius, 1rem);
    border: 1.5px solid var(--sidebar-gray-background, #dce1eb);
    font-weight: 800;
    background: #F4F5FC;
    cursor: pointer;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      background: var(
        --gradient,
        linear-gradient(45deg, #F51DC1, #2DFAFA));
      color: #fff;
    }
  }
}

.hidden {
  display: none;
}
