@use '/src/assets/sass/mixins.scss' as *;

.sideList {
  --gradient: linear-gradient(45deg, var(--err-clr, #F51DC1), var(--err-clr-2, #2DFAFA));

  color: var(--side-text-clr, #272727);
  font-size: var(--font-size, 1.25rem);
  border-top: 1px solid var(--sidebar-gray-background);
  @include flex(column,center, center, .5rem);

  &-item {
    width: 100%;
    height: 3.5rem;
  }

  &-link {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.9rem;
    width: 100%;
    margin-block: .5rem;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out 0s;
    border-radius: var(--side-radius-min, 0.625rem);
    &:hover {
      background-color: var(--item-hover, #F0F0F0);
    }
  }

  &-text {
    display: block;
    text-transform: capitalize;
  }

  &-tooltip {
    display: none;
    color: aqua;
  }
}

.active-route {
  background: var(
    --gradient,
    linear-gradient(45deg, var(--err-clr, #F51DC1), var(--err-clr-2, #2DFAFA))
    );
  color: var(--bg-color, #FCFCFD);
  font-weight: 900;
}
