.footer {
  color: white;

  &-content {
    margin-inline: auto;
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    @media screen and (width > var(--media-lg, 75rem)) {
      padding-top: 2rem;
    }
  }

  &-info {
    @media screen and (width > var(--media, 43.75rem)) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-divider {

  }

  &-copy {

  }
}
