.links {
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  color: rgb(156, 73, 73);

  a {
    position: relative;
    &::before {
      bottom: -.1rem;
      content: '';
      position: absolute;
      height: .15rem;
      background-color: currentColor;
      width: 100%;
      opacity: 0;
    }

    &:hover {
      transform: scale(1.1);
      &::before {
        opacity: 1;
      }
    }
  }
}
