.button {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  cursor: pointer;
  background-color: #000000;
  overflow: hidden;
}

.buttonAnimation {
  animation: 0.6s moveButton ease-in-out 0.5s;
}

.buttonAnimation::before {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  content: 'Added';
  color: white;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
  animation: 0.6s moveAdded ease-out 0.5s;
  animation-fill-mode: forwards;
}

.cart {
  fill: white;
}

.cartAnimation {
  animation: 0.5s moveCart ease-in;
  animation-fill-mode: forwards;
}

.text {
  position: relative;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: bold;
  text-transform: uppercase;
}

.textAnimation {
  animation: 0.5s moveText ease-in;
    animation-fill-mode: forwards;
}

.textAnimation::before {
  animation: 0.5s moveFirstSign ease-in;
  animation-fill-mode: forwards;
}

.textAnimation::after {
  animation: 0.5s moveSecondSign ease-in;
  animation-fill-mode: forwards;
}

@keyframes moveButton {
  50% {
    width: 370px;
  }
  100% {
    width: 400px;
  }
}

@keyframes moveSecondSign {
  5% {
    transform: rotate(180deg);
    top: 30px;
    left: -75px;
  }
  60% {
    transform: rotate(180deg);
    left: -155px;
    top: 30px;
    width: 80px;
  }
  100% {
    width: 170px;
    top: 30px;
    left: -245px;
    transform: rotate(180deg);
    visibility: hidden;
  }
}

@keyframes moveFirstSign {
  5% {
    top: 15px;
  }
  60% {
    left: -200px;
    width: 100px;
  }
  100% {
    top: 15px;
    left: -280px;
    width: 200px;
    visibility: hidden;
  }
}

@keyframes moveText {
  10% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(350px, 0px);
    visibility: hidden;
  }
}

@keyframes moveCart {
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(-2deg) translate(30px, 0px);
  }
  100% {
    transform: rotate(0deg) translate(350px, 0px);
    visibility: hidden;
  }
}

@keyframes moveAdded {
  0% {
    visibility: visible;
    font-size: 0px;
  }
  50% {
    visibility: visible;
    font-size: 30px;
  }
  100% {
    visibility: visible;
    font-size: 35px;
  }
}

// .btnCart {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
//   padding-block: 1rem;
//   cursor: pointer;
//   background-color: #000000;

//   &:hover {
//     background-color: #222;
//   }

//   &:hover .btnCart-svg {
//     animation: stagger .5s linear 1;
//   }

//   &-name {
//     color: white;
//     text-transform: uppercase;
//     font-weight: 600;
//   }

//   &-svg {
//     fill: white;
//     transform-origin: center;
//   }
// }

// .addShopCart {
//   animation: move .3s ease-in-out 1;
// }

// //  tambalear
// @keyframes stagger {
//   0%, 50%, 100% {
//     transform: rotate(0deg);
//   }
//   25% {
//     transform: rotate(10deg);
//   }
//   75% {
//     transform: rotate(-10deg);
//   }
// }

// //  move
// @keyframes move {
//   0%, 100% {
//     transform: translateX(0);
//     filter: hue-rotate(0);
//   }
//   50% {
//     transform: translateX(1rem);
//     filter: hue-rotate(3.142rad);
//   }
// }


