<section>
  <form class="max-w-md mx-auto space-y-6">
    <div class="space-y-2 text-center">
      <app-heading textHeading="SignUp"/>
      <p class="text-gray-500 dark:text-gray-400">Enter your username and password below to login to your account</p>
    </div>
    <div class="space-y-4">
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="username"
        >
          Username
        </label>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="username"
          placeholder="Username"
          required=""
          type="text"
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="password"
        >
          Password
        </label>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="password"
          required=""
          type="password"
        />
      </div>
      <app-gradient-btn dataBtn="Sign up" pathLink="/home"/>

      <a routerLink="../login"
        rel="noopener noreferrer">
        I already have an account
      </a>
    </div>
  </form>
</section>
