@use '../../scss/mixins.scss' as * ;

.mono-btn {
  font-size: var(--font-xs);
  padding-inline: 1rem;
  color: black;
  height: 3rem;
  border-radius: var(--radius-xs, .5rem);
  border: solid 1px rgb(173, 173, 173);
  background-color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: .1rem;
  font-size: 0.875rem;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out ;
  cursor: pointer;
  @include hover-active-styles();
  @media screen and (width >= 500px) {
    gap: 1rem;
  }

  &:hover {
    background-color: #F0F0F0;
    border: none;
  }

  & span {
    text-transform: capitalize;
    display: none;
    @media screen and (width >= 500px) {
      display: block;
    }
  }
}
