.wrapperLogo {
  color: var(--side-text-clr, #272727);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-md);

  padding-inline: .3rem;

  &-svg {
    aspect-ratio: 1/1;
  }

  &-title {
    position: relative;
    -webkit-text-stroke: .1rem;
    letter-spacing: .3rem;
  }
}
