.wrapperLogo {
  color: var(--side-text-clr, #272727);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-md);

  &-svg {
    aspect-ratio: 1/1;
  }

  &-title {
    position: relative;
    -webkit-text-stroke: .1rem;
    letter-spacing: .3rem;
  }
}
