/* You can add global styles to this file, and also import other style files */
@use './assets/sass/reset.scss' as *;
@use './assets/sass/mixins.scss' as *;
@use './assets/sass/variables.scss' as *;

@import 'ngx-toastr/toastr';

//  navbar toggle
.col {
  grid-template-columns: auto !important;
}

.col-hidden {
  display: none !important;
}

.min-width {
  width: min-content !important;
}
