<section class="myProject">

  <app-photo />

  <div class="document">
    <article class="document-page">
      <div class="document-content">
        <h2 class="document-title">Rest Countries</h2>

        <p class="document-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero placeat a, animi vel non maiores possimus unde deserunt pariatur aut ducimus earum.
        </p>

        <app-simple-list [contentList]="listTools" />
      </div>

      <app-links />
    </article>

    <article class="document-page">
      <div class="document-content">
        <img src="https://www.dropbox.com/scl/fi/nv0sqziekl57wa2qg4jjs/netlify.svg?rlkey=mhea6i30zfcdby88irn2ftxay&raw=1"
          class="ngx"
          alt="svg">
        <app-simple-list [contentList]="appliedKnowledge"/>
      </div>

    </article>
  </div>

</section>
