<section class="myProject">

  <app-photo />

  <div class="document">

    <article class="document-page">
      <div class="document-content">

        <h2 class="document-title">Rest Countries</h2>
        <p class="document-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero placeat a, animi vel non maiores possimus unde deserunt pariatur aut ducimus earum, officiis expedita amet voluptatem, enim debitis laborum.
        </p>

        <div>
          <strong class="document-list">Tools:</strong>
          <ul class="document-tools">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>

      </div>

      <div class="document-links">
        <a href=""
          aria-label="view repository"
          title="view repository">
          Repository
        </a>
        <a href=""
          aria-label="view demo"
          title="view demo">
          Demo
        </a>
      </div>
    </article>

    <div class="document-page">
      s
    </div>

  </div>

</section>
