@use '../../../../../../assets/sass/mixins.scss' as *;

.productData {
  display: grid;
  box-shadow: inset 0 0 .8rem .05rem #a0a0a0;
  gap: 2rem;
  height: 100%;
  align-content: space-between;

  &-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 1.5rem 0;
  }

  &-title {
    max-width: 10.125rem;
    width: 100%;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: var(--font-md);
    line-height: 1.4;
    text-transform: capitalize;
    height: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background linear .2s;
    @include customScrollbar
  }

  &-btnCart {
    padding-block: 1rem;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    &:hover {
      background-color: #222;
    }
  }

  &-svg {
    fill: white;
  }
}
