@use '../../../../assets/sass/mixins.scss' as *;

.shoppingCar {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-list {
    display: grid;
    gap: 3rem;
    min-height: 20rem;
    max-height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: .1rem;
    @include customScrollbar();
  }
}
