<section class="shoppingCar">

  <app-heading textHeading="Your Shopping Cart"/>

  <ng-container *ngIf="productsList.length > 0, else empty">
    <ul class="shoppingCar-list">
      <li *ngFor="let product of productsList">
        <app-shopping-cart-item [product]="product" />
      </li>
    </ul>

    <app-box-total-price [orderSummary]="orderSummary"/>

    <app-gradient-btn dataBtn="proceed to checkout"/>
  </ng-container>

</section>

<ng-template #empty>
  <app-empty-section >
    You don't have any products in your shopping cart
    <app-gradient-btn routerLink="/all-products"
      dataBtn="view products"/>
  </app-empty-section>
</ng-template>
