:root {
  --clr-primary : #000;
  --clr-secondary: #fff;
  --clr-complementary: #ebc51d;

  //------------
  --radius-min: .3rem;
  --radius-xs: .5rem;
  --radius-base: 1rem;
  --radius-sm: 1.5rem;
  --radius-md: 2rem;
  --radius-lg: 2.5rem;
  --radius-circle: 50%;

  //------------
  --font-xs: clamp(0.3rem, 0.10vw + 0.3rem, 0.4rem);
  --font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  //------------
  --gradient: linear-gradient(45deg,  #F51DC1, #2DFAFA);

  //------------
  --media-xs: 22.5rem;      //  360px
  --media-sm: 31.25rem;     //  500px
  --media: 43.75rem;        //  700px
  --media-lg: 75rem;        //  1200px

  //------------
  --timer-xs: .1s;
  --timer-sm: .2s;
  --timer-base: .3s;

  //------------
  --z-index-xs: 0;
  --z-index-base: 1;
  --z-index-sm: 2;
  --z-index-md: 4;
  --z-index-lg: 5;
  --z-index-BasicFloatEle: 10;
  --z-index-dialog: 50;
  --z-index-priority: 100;
  --z-index-important: 200; //  no usar
  --z-index-before: -1; //  pseudoElement before
  --z-index-after: 3; //  pseudoElement after
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: light) {
  :root{
  --clr-complementary: #57eb1d;
  }
}
